<div class="alert alert-info">
  <%= alert %>
  <%= notice %>
</div>

<div class="container">
  <h4>管理者ログイン</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form>
      <div class="row justify-content-center form-group ">
        <label class="col-2 col-form-label">メールアドレス</label>
        <div class="col-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="row justify-content-center form-group">
        <label class="col-2 col-form-label">パスワード</label>
        <div class="col-4">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        </div>
      <div class="row justify-content-center form-group">
        <div class="mr-5">
          <div><%= f.submit "ログイン", class: "btn btn-primary" %></div>
        </div>
      </div>
    </form>
    <% end %>
</div>
