<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<% if info %>
<div>
  <%= render 'layouts/flash_message' %>
</div>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <!-- ここにジャンル検索の部分テンプレートを入れる -->
    <div class="col-2 mx-3">
      <%= render "public/genres/lists",  genres: @genres %>
    </div>

    <div class="col-9 mx-3">
      <div class="card">
        <!-- 写真は自由に変えていいです-->
        <%= image_tag "no_image.jpg", class: "card-img" %>
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <p>ようこそ、NaganoCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
          </p>
        </div>
      </div>
      <h1>新着商品</h1>
      <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <div>
            <%= image_tag item.image, size: "160x160" %>
            <p><%= link_to item.name, item_path(item) %></p>
            <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
          </div>
        </div>
      <% end %>
      </div>
      <p class="text-right"><%= link_to "全ての商品を見る>",  items_path %></p>
    </div>
  </div>
</div>
