<%= form_with model: destination do |f| %>

  <div class="row">
    <p class="col-md-3">
      郵便番号(ハイフンなし)
    </p>
    <div class="col-md-2 form-group">
      <%= f.number_field :postcode, class: "form-control border-dark" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :住所 %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.text_field :address, class: "form-control border-dark" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :宛名 %>
    </div>
    <div class="col-md-2 form-group">
      <%= f.text_field :name, class: "form-control border-dark" %>
    </div>
    <div class="col-md-6 text-right">
      <%= f.submit "新規登録", class: "btn btn-success btn-lg pull-right" %>
    </div>
  </div>
<% end %>