<div class="container">
  <div class="row align-items-center">
    <h3 class="col">ショッピングカート</h3>

    <!--カートを空にするボタン-->
    <div class="col text-right"><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %></div>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      <% @cart_items.each do |cart_item| %>
        <tr>

          <td>
          <%= link_to item_path(cart_item.item) do %>
            <%= image_tag cart_item.item.image, size: "100x70" %>
          <% end %>
          </td>

          <td>
          <%= link_to item_path(cart_item.item) do %>
            <%= cart_item.item.name %>
          <% end %>
          </td>

          <!--税込単価-->
          <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>

          <!--数量のselectと変更ボタン-->
        <%= form_with model: cart_item, local: true do |f| %>
          <td class="form-inline">
            <%= f.select :quantity, [*1..10], {}, required: true, class: "form-control mr-3" %>
            <%= f.hidden_field :item_id, value: cart_item.item_id %>
            <%= f.submit "変更", method: :patch, class: "btn btn-success" %>
          </td>
        <% end %>

          <!--小計（税込価格×数量)-->
          <td><%= cart_item.subtotal.to_s(:delimited) %></td>

          <!--cart_itemごとの削除ボタン-->
          <td>
            <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %>
          </td>
          <!--それぞれに合計金額を出すための処理-->
          <% @total += cart_item.subtotal %>
        </tr>
      <% end %>

      </tbody>
    </table>

  <div class="row justify-content-end">
    <div>合計金額</div>
    <span><%= @total.to_s(:delimited) %></span>
  </div>


  <div class="row text-center">
    <div class="col-4"><%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %></div>
    <div class="col-4"><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %></div>
  </div>

</div>