<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <h3>名前</h3>
    <%= f.label :family_name, "(姓)" %>
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", placeholder: "令和" %>
    <%= f.label :given_name, "(名)" %>
    <%= f.text_field :given_name, autofocus: true, autocomplete: "given_name", placeholder: "道子" %>
  </div>

  <div class="field">
    <h3>フリガナ</h3>
    <%= f.label :family_name_kana, "(セイ)" %>
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", placeholder: "レイワ" %>
    <%= f.label :given_name_kana, "(メイ)" %>
    <%= f.text_field :given_name_kana, autofocus: true, autocomplete: "given_name_kana", placeholder: "ミチコ" %>
  </div>

  <div class="field">
    <h3><%= f.label :email, "メールアドレス" %></h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>40, placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <h3><%= f.label :postcode, "郵便番号(ハイフンなし)" %></h3>
    <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", placeholder: "0000000" %>
  </div>

  <div class="field">
    <h3><%= f.label :address, "住所" %></h3>
    <%= f.text_field :address, autofocus: true, autocomplete: "address", :size=>60, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
  
  <div class="field">
    <h3><%= f.label :phone_number, "電話番号(ハイフンなし)" %></h3>
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "000000000" %>
  </div>

  <div class="field">
    <h3>
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </h3>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <h3><%= f.label :password_confirmation, "パスワード（確認用）" %></h3>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<%= render "public/shared/links" %>
