<div class="container">
  <h2 class="mb-4">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form>
      <h4>会員の方はこちらからログイン</h4>
      <div class="row justify-content-center form-group">
        <label class="col-2 col-form-label">メールアドレス</label>
        <div class="col-4">
          <%= f.email_field :email, placeholder: "sample@example.com", required: true, size: "40" %>
        </div>
      </div>
      <div class="row justify-content-center form-group">
        <label class="col-2 col-form-label">パスワード</label>
        <div class="col-4">
          <%= f.password_field :password, autocomplete: "current-password", required: true, size: "40" %>
        </div>
      </div>
      <div class="row justify-content-center form-group">
        <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
      </div>
    </form>
  <% end %>
  
  <h4 class="mb-4 mt-5">会員登録がお済みでない方</h4>
  <div class="row">
    <div class="h5 col-10 mx-auto">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>