<div class="containar">
  <div class="row justify-content-md-center">

    <div class="col-2">
      <!--ジャンル検索-->
      <%= render "public/genres/lists", genres: @genres %>

    </div>

    <div class="col-9">

      <h3 class="d-inline font-weight-bold">商品一覧</h3>
      <span>(全<%= @items.count %>件)</span>

      <div class="row">
      <% @items.each do |item| %>
        <div class="col d-flex justify-content-center text-center">
          <div class="p-3">
            <div>
              <%= link_to item_path(item) do %>
                <% if item.image.attached? %>
                  <!--商品画像-->
                  <div><%= image_tag item.image, size: "225x150", class: "rounded" %></div>
                <% end %>
                  <!--商品名-->
                  <div><%= item.name %></div>
              <% end %>
            </div>

            <% if item.is_valid %>
            <span class="text-success font-weight-bold">
              <%= "販売中" %>
            </span>
            <% else %>
            <span class="text-secondary font-weight-bold">
              <%= "売切れ" %>
            </span>
            <% end %>

            <div>￥<%= item.price.to_s(:delimited)%></div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="row justify-content-center">
        <%= paginate @items, theme: "twitter-bootstrap-4" %>
      </div>

    </div>
  </div>
</div>