<h1>Public::Items#index</h1>
<p>Find me in app/views/public/items/index.html.erb</p>

<div class="containar">
  <div class="row justify-content-md-center">

    <div class="col-3">
      <!--ジャンル検索-->
    </div>

    <div class="col-7">


      <h3 class="font-weight-bold">商品一覧</h3>
      <p>(全<%= @items.count %>件)</p>

      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% @items.each do |item| %>
          <div class="col justify-content-md-center">
            <div class="p-3">
              <div>
                <%= link_to item_path(item) do %>
                  <% if item.image.attached? %>
                    <%= image_tag item.image, size: "200x150", class: "rounded shadow" %></br>
                  <% end %>
                    <%= item.name %>
                <% end %>
              </div>
              <div>￥<%= item.price.to_s(:delimited) %></div>
            </div>
          </div>
        <% end %>

      </div>

      <div class="row justify-content-center">
        <%= paginate @items %>
      </div>

    </div>
  </div>
</div>