<div class="container">
  <div class="row">

    <div class="col-2">
    <!--ジャンル-->
      <%= render "public/genres/lists", genres: @genres %>
    </div>

    <div class="col-9">

      <div class="media">
        <div><%= image_tag @item.image, size: "400x300", class: "mr-3" %></div>
        <div class="media-body">
          <h3 class="font-weight-bold"><%= @item.name %></h3>
          <p class="h5 mb-5"><%= @item.description %></p>
          <h4 class="d-inline"><%= @item.with_tax_price.to_s(:delimited) %>円</h4>
          <span>(税込)</span>
        </div>
      </div>

      <!--カートアイテムへのフォーム-->
      <%= form_with model: @cart_item, local: true do |f| %>
        <div class="row form-inline">

          <div class="form-group my-1 mr-sm-5">
          <%= f.select :quantity, [*1..10], {include_blank: "個数選択"}, required: true, class: "form-control" %>
          </div>

          <div class="form-group">
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
          </div>

          <%= f.hidden_field :item_id, value: @item.id %>

        </div>
      <% end %>

    </div>

  </div>
</div>